:root{
    --gold: #D9A826;
    --gold-light: #EBC94F;
    --gold-dark: #8F7016;
    --mystic-glow: #FFBF00;

    --purple-deep: #0D0514;
    --purple-medium: #1A0F24;
    --purple-light: #38264A;

    --foreground: #EBE5DB;
    --muted-foreground: #A391AD;

    --background: #0D0514;
    --card: #1A0F24;
    --border: #38264A;
}

@font-face {
    font-family: 'Alchemy';
    src: url('fonts/Elemental-lg5B0.ttf');
    font-style: normal;
}

@font-face{
    font-family: 'Amarna';
    src: url('fonts/Amarna-VariableFont_wght.ttf');
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
    font-style: normal;
}

@keyframes scrolling{
  from{
    opacity: 0;
    scale: 0.8;
  }

  to{
    opacity: 1;
    scale:1;
  }
}

*{
    margin:0;
    border:0;
    box-sizing: border-box;
}

html{
    background-color: var(--background);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--purple-medium);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        180deg,
        var(--gold),
        var(--gold-dark)
    );
    border-radius: 10px;
    transition: 0.2s ease ;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        180deg,
        var(--gold-light),
        var(--mystic-glow)
    );
}


/*Header Styling*/

header{
    background-color: #0d0514d0;
    backdrop-filter: blur(10px);
    position:sticky;
    top:0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 2px solid var(--purple-medium);
}

header h1{
    font-size: 2.5em;
    color: var(--gold);
    font-family: 'Alchemy';
    position: relative;
    text-shadow: 0 0 10px var(--mystic-glow);
}

.header-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    cursor: pointer;
    background-color: transparent;
    color: var(--gold);
    padding: 5px;
    margin-right: 20px;
}

.login{
    cursor: pointer;
    background-color: transparent;
    color: var(--gold);
    border: 2px ridge var(--gold);
    padding: 5px;
    width: 7vw;
    font-family: 'Amarna';
    font-size: 1em;
    font-weight: 900;
    background-image: linear-gradient(180deg, transparent 50%, var(--gold)50%, var(--gold)100%);
    background-size: 100% 200%;
    background-position: top;
    transition: 0.3s ease;
}

.login:hover{
    background-position: bottom;
    color: var(--purple-deep);
    transform: translateY(-10%);
}

/*Navigation bar*/

nav{
    padding: 15px 0;
    box-shadow: 0 5px 10px var(--purple-medium);
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li{
    color: var(--muted-foreground);
    font-family: 'Montserrat';
    font-weight: 450;
    cursor: pointer;
}

/*Hero Section*/

.star-layer {
    position: absolute;
    inset: 0;
    background-image:
        radial-gradient(1.5px 1.5px at 5% 15%, white, transparent),
        radial-gradient(2px 2px at 12% 80%, white, transparent),
        radial-gradient(1.8px 1.8px at 20% 40%, white, transparent),
        radial-gradient(2.5px 2.5px at 28% 65%, white, transparent),
        radial-gradient(1.6px 1.6px at 35% 25%, white, transparent),
        radial-gradient(2px 2px at 42% 90%, white, transparent),
        radial-gradient(1.8px 1.8px at 50% 50%, white, transparent),
        radial-gradient(2.5px 2.5px at 58% 15%, white, transparent),
        radial-gradient(1.6px 1.6px at 65% 75%, white, transparent),
        radial-gradient(2px 2px at 72% 35%, white, transparent),
        radial-gradient(1.8px 1.8px at 80% 60%, white, transparent),
        radial-gradient(3px 3px at 88% 20%, white, transparent),
        radial-gradient(2px 2px at 95% 85%, white, transparent);

    animation: moveStars 60s linear infinite;
    opacity: 0.7;
    z-index: -1;
}

@keyframes moveStars {
    from { background-position: 0 0; }
    to   { background-position: 1000px 500px; }
}


.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    height: 75vh;
    box-shadow: 0 20px 20px var(--purple-medium);
}

.hero-section::before{
    background-image: 
        linear-gradient(
            rgba(22, 0, 45, 0.7),
            rgba(58, 0, 117, 0.7)
        ),
        url('photos/image.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -5;

}

.hero-section h2{
    background-image: linear-gradient(90deg , var(--gold-light) 0% , var(--gold) 50% , var(--gold-dark) 90% );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Alchemy';
    font-weight: 900;
    font-size: 6em;
    text-shadow: 0 0 50px var(--mystic-glow);
}

.hero-section p{
    margin: 10px 0;
    margin-bottom: 30px;
    color: var(--foreground);
    font-family: 'Amarna';
    font-size: 1.5em;
}

.cta-wrapper{
    display: flex;
    width: 60%;
    justify-content: center;
    background-color: var(--purple-medium);
    margin-bottom: 10px;
    transition: 0.3s ease;
    position: relative;
    z-index: 0;
    margin-top: 10px;
}

.cta{
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    background-color: var(--purple-medium);
}

.cta input{
    margin: 10px;
    width: 100%;
    padding: 5px; 
    background-color: transparent;
    color: var(--muted-foreground);
    font-size: 1.2em;
    outline: none;
    border: none;
    caret-color: var(--muted-foreground);
}

.cta input::placeholder{
    color:#584b60;
}

.cta-wrapper:has(input:focus){
    transform: translateY(-10%);
    /* box-shadow: 0 5px 20px 5px var(--purple-light); */
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.cta-wrapper:has(input:focus)::before,
.cta-wrapper:has(input:focus)::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2px;
    background-image: conic-gradient(from var(--angle) , transparent , var(--mystic-glow) );
}

.cta-wrapper:has(input:focus)::before{
    filter: blur(10px);
    opacity: 0.7;
}

.cta-wrapper::before,
.cta-wrapper::after {
    animation: spin 3s linear infinite;
    opacity: 0;
}

.cta-wrapper:has(input:focus)::before,
.cta-wrapper:has(input:focus)::after {
    opacity: 1;
}

.cta-button{
    background-color: var(--purple-deep);
    cursor: pointer;
    justify-items: center;
    align-items: center;
    width: 7%;
}

.filters{
    margin-top: 20px;
}

.filter-button{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.51);
    color: var(--muted-foreground);
    font-family: 'Montserrat';
    font-weight: 450;
    padding: 7px 25px;
    margin-right: 10px;
    font-size: 1.2em;
    transition: 0.3s ease;
    border-radius: 5px;
}

.filter-button:hover{
    transform: translateY(-10%);
    box-shadow: 0 5px 5px rgba(45, 0, 62, 0.5);
    color: var(--foreground)
}

/*Featured Category*/

.featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    animation: scrolling linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    box-shadow: 0 10px 20px var(--purple-medium);
}

.featured-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-title h3{
    font-size: 3em;
    font-family: 'Alchemy';
    color: var(--muted-foreground);
}

.featured-title p{
    margin-top: 5px;
    font-size: 1.3em;
    color: var(--muted-foreground);
    font-family: 'Amarna';
}

.featured-wrapper{
    background-color: transparent;
    padding: 20px;
    margin-top: 40px;
    width: 75%;
}

.featured-cards-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    transition: 0.3s ease-in-out;
}

.featured-cards{
    background-color: var(--gold);
    position: relative;
    height: 40vh;
    width: 100%;
    z-index: 0;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.featured-cards::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    transform-origin: bottom;
    transform: scaleY(0);
    z-index: -1;
    background-image: linear-gradient(180deg, transparent 60% , var(--purple-deep) 100%);
    transition: 0.3s ease-in-out;
}

.featured-cards:hover{
    transform: scale(1.05);
    z-index: 2;
}

.featured-cards:hover::before{
    transform: scaleY(1);
}

.featured-cards-container:has(div:hover) div:not(:hover){
    filter: blur(2px);
    opacity: 0.7;
}

.featured-cards p{
    margin-bottom: 40px;
    font-family: 'Amarna';
    font-size: 1.5em;
    color: var(--foreground);
    transform: translateY(100%);
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.featured-cards:hover p{
    transform: translateY(0);
    opacity: 1;
}

.featured-cards:nth-child(1){
    background-image: url('photos/chicken.jpg');
    background-size: cover;
}

.featured-cards:nth-child(2){
    background-image: url('photos/pasta.jpg');
    background-size: cover;
}

.featured-cards:nth-child(3){
    background-image: url('photos/dessert.jpg');
    background-size: cover;
}

.featured-cards:nth-child(4){
    background-image: url('photos/asian.avif');
    background-size: cover;
}

.featured-cards:nth-child(5){
    background-image: url('photos/breakfast.jpeg');
    background-size: cover;
}

/* Trending Section */

.trending{
    background-color: var(--purple-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 10px 20px #8f711630;
}   

.trending-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75vw;
    animation: scrolling linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.trending-title{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trending-caption{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
    align-items:center;
    width: 100%;
}

.trending-wrapper h3{
    font-size: 3em;
    font-family: 'Alchemy';
    color: var(--foreground);
}

.trending-caption p{
    margin-top: 5px;
    font-size: 1.3em;
    color: var(--foreground);
    font-family: 'Amarna';
}

.trending-caption a{
    color: var(--gold);
    font-size: 1.1em;
    font-family: 'Montserrat';
    text-decoration: none;
    position: relative;
}

.trending-caption a::before{
    content: '';
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg, var(--gold) 50%, transparent 50%, transparent 100%);
    background-size: 200% 100%;
    background-position: right;
    bottom:0;
    left:0;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.trending-caption a:hover::before{
    background-position: left;
}

.trending-recipe{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.trending-recipe h5{
    font-family: 'Montserrat';
    font-size: 1em;
    color: var(--muted-foreground);
    font-weight: 450;
    margin-bottom: 40px;
}

.trending-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
}

.trending-card{
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    height: 45vh;
    perspective: 1000px;
}

.card-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    background-color: var(--purple-medium);

}

.trending-card:hover{
    transform: translateY(-3%);
    box-shadow: 0 10px 10px var(--purple-medium);
}

.flip-card{
    transform: rotateY(180deg);
}

.card-front,
.card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back{
    transform: rotateY(180deg);
}

.trending-picture{
    height: 75%;
    width: 100%;
    background-color: var(--gold);
}

.trending-details{
    margin: 10px;
}

.trending-details h4{
    font-family: 'Amarna';
    font-size: 1.2em;
    color: var(--gold);
    text-shadow: 0 0 10px var(--mystic-glow);
    margin-bottom: 5px;
}

.recipe-details{
    display: flex;
    align-items: center;
}

.recipe-details p{
    margin-right: 30px;
    font-family: 'Montserrat';
    color: var(--gold-dark);
    font-weight: 500;
}

.recipe-time{
    margin-left: 5px;
}

.card-back{
    padding: 10px 20px;
}
.card-back h6{
    font-size: 2em;
    font-family: 'Alchemy';
    color: var(--gold-light);
    text-shadow: 0 0 10px var(--mystic-glow);
    margin-bottom: 10px;
}

.card-back p{
    font-family: 'Amarna';
    font-size: 1.2em;
    color: var(--gold);
}

/*Quick Search Section*/

.quick-search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    animation: scrolling linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.quick-search h3{
    font-family: 'Alchemy';
    font-size: 3em;
    color: var(--gold);
    text-shadow: 0 0 10px var(--mystic-glow);
}

.quick-search p{
    font-size: 1.5em;
    color: var(--gold-dark);
    font-family: 'Amarna';
    margin-bottom: 40px;
    font-weight: 600;
}

.quick-search-filters{
    display: flex;
    gap: 20px;
    width: 60vw;
    justify-content: space-between;
    margin-top: 40px;
}

.quick-search-filters h2{
    font-family: 'Montserrat';
    color: var(--muted-foreground);
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 5px;
}

.quick-search-filters select{
    padding: 7px 7px;
    width: 20vw;
    font-family: 'Montserrat';
    background-color: var(--purple-light);
    color: var(--muted-foreground);
    cursor: pointer;
}

.quick-search-button{
    margin-top: 40px;
    padding: 5px 10px;
    width: 10%;
    font-family: 'Amarna';
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: var(--gold-dark);
    font-size: 1em;
    border: 3px ridge var(--gold-dark);
    transition: box-shadow 0.3s ease-in-out;
}

.quick-search-button:hover{
    box-shadow: 0 0 10px var(--mystic-glow);
}

.health-section{
    background-color: var(--muted-foreground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.health-section h3{
    font-family: 'Alchemy';
    font-size: 3em;
    color: var(--purple-light);
}

.health-section p{
    font-family: 'Amarna';
    font-size: 1.5em;
    color: var(--purple-light);
}

.health-section-container{
    width: 75%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.health-section-cards{
    background-image: linear-gradient(180deg , var(--purple-light) 0% , var(--purple-deep) 80%);
    height: 35vh;
    padding: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out,
                box-shadow 0.3s ease-in-out;
}

.health-section-cards h4{
    font-family: 'Amarna';
    font-size: 1.8em;
    color: var(--foreground);
}

.health-section-cards p{
    color: var(--muted-foreground);
    font-family: 'Montserrat';
    font-size: 1.2em;
    margin-top: 10px;
}

.health-section-button{
    padding: 7px;
    background: transparent;
    border: 2px solid var(--muted-foreground);
    color: var(--muted-foreground);
    font-size: 1em;
    font-family: 'Montserrat';
    cursor: pointer;
}

.health-section-cards:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

footer{
    padding: 10px 80px;
    margin-top: 80px;
    position: relative;
    display: flex;
    background-color: var(--foreground);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.contact,
.social-media{
    display: flex;
    flex-direction: column;
}

.social-media{
    align-items: center;
}

.social-media-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media-buttons button{
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    padding: 7px;
    position: relative;
    transition: 0.3s ease;
    border: none;
    background-color: var(--purple-light);
}

.social-media-buttons button:hover{
    background-color: var(--accent-color);
    transform: translateY(-10%);
    box-shadow: 0 5px 7px var(--muted-foreground);
}

.social-media-buttons button::before{
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
    position: absolute;
    content: attr(data-social);
    width: 250%;
    height: 100%;
    background-color: var(--accent-color);
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-200%) rotate(20deg);
    border-radius: 25px;
    color: white;               
    font-size: 1em;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.social-media-buttons button::after{
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
    position: absolute;
    content: '';
    background-color: transparent;
    left: 50%;
    top: 50%;
    width: 0; 
    height: 0; 
    transform: translateY(-400%) translateX(-50%) rotate(20deg);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    opacity: 0;
}

.social-media-buttons button:hover::before{
  opacity: 1;
  transform: translateX(-50%) translateY(-170%) rotate(0);
}

.social-media-buttons button:hover::after{
  opacity: 1; 
  transform: translateY(-300%) translateX(-50%) rotate(0);
}

.social-media p{
    font-family: 'Montserrat';
    font-size: 1em;
}

footer h4{
    font-family: 'Alchemy';
    font-size: 2em;
    color: var(--purple-light);
    text-shadow: 0 0 10px var(--muted-foreground);
    margin-bottom: 10px;
}

footer h2{
    font-family: 'Alchemy';
    font-size: 3em;
    color: var(--purple-light);
    text-shadow: 0 0 10px var(--muted-foreground);
}

.legal{
    padding: 10px;
    border-top: 3px dotted var(--muted-foreground);
    font-family: 'Montserrat';
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}