:root{
    --gold: #D9A826;
    --gold-light: #EBC94F;
    --gold-dark: #8F7016;
    --mystic-glow: #FFBF00;

    --purple-deep: #0D0514;
    --purple-medium: #1A0F24;
    --purple-light: #38264A;

    --foreground: #EBE5DB;
    --muted-foreground: #A391AD;

    --background: #0D0514;
    --card: #1A0F24;
    --border: #38264A;
}

@font-face {
    font-family: 'Alchemy';
    src: url('fonts/Elemental-lg5B0.ttf');
    font-style: normal;
}

@font-face{
    font-family: 'Amarna';
    src: url('fonts/Amarna-VariableFont_wght.ttf');
    font-style: normal;
}

@font-face{
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
    font-style: normal;
}

*{
    margin:0;
    border:0;
    box-sizing: border-box;
}

html{
    background-color: var(--background);
}

/*Header Styling*/

header{
    background-color: #0d0514d0;
    backdrop-filter: blur(10px);
    position:sticky;
    top:0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 2px solid var(--purple-medium);
}

header h1{
    font-size: 2.5em;
    color: var(--gold);
    font-family: 'Alchemy';
    position: relative;
    text-shadow: 0 0 10px var(--mystic-glow);
}

.header-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    cursor: pointer;
    background-color: transparent;
    color: var(--gold);
    padding: 5px;
    margin-right: 20px;
}

.login{
    cursor: pointer;
    background-color: transparent;
    color: var(--gold);
    border: 2px ridge var(--gold);
    padding: 5px;
    width: 7vw;
    font-family: 'Amarna';
    font-size: 1em;
    font-weight: 900;
    background-image: linear-gradient(180deg, transparent 50%, var(--gold)50%, var(--gold)100%);
    background-size: 100% 200%;
    background-position: top;
    transition: 0.3s ease;
}

.login:hover{
    background-position: bottom;
    color: var(--purple-deep);
    transform: translateY(-10%);
}

/*Navigation bar*/

nav{
    padding: 15px 0;
    box-shadow: 0 5px 10px var(--purple-medium);
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li{
    color: var(--muted-foreground);
    font-family: 'Montserrat';
    font-weight: 450;
    cursor: pointer;
}

/*Hero Section*/

.star-layer {
    position: absolute;
    inset: 0;
    background-image:
        radial-gradient(1.5px 1.5px at 5% 15%, white, transparent),
        radial-gradient(2px 2px at 12% 80%, white, transparent),
        radial-gradient(1.8px 1.8px at 20% 40%, white, transparent),
        radial-gradient(2.5px 2.5px at 28% 65%, white, transparent),
        radial-gradient(1.6px 1.6px at 35% 25%, white, transparent),
        radial-gradient(2px 2px at 42% 90%, white, transparent),
        radial-gradient(1.8px 1.8px at 50% 50%, white, transparent),
        radial-gradient(2.5px 2.5px at 58% 15%, white, transparent),
        radial-gradient(1.6px 1.6px at 65% 75%, white, transparent),
        radial-gradient(2px 2px at 72% 35%, white, transparent),
        radial-gradient(1.8px 1.8px at 80% 60%, white, transparent),
        radial-gradient(3px 3px at 88% 20%, white, transparent),
        radial-gradient(2px 2px at 95% 85%, white, transparent);

    animation: moveStars 60s linear infinite;
    opacity: 0.7;
    z-index: -1;
}

@keyframes moveStars {
    from { background-position: 0 0; }
    to   { background-position: 1000px 500px; }
}


.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    position: relative;
    height: 75vh;
}

.hero-section::before{
    background-image: 
        linear-gradient(
            rgba(22, 0, 45, 0.7),
            rgba(58, 0, 117, 0.7)
        ),
        url('photos/image.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -5;

}

.hero-section h2{
    background-image: linear-gradient(90deg , var(--gold-light) 0% , var(--gold) 50% , var(--gold-dark) 90% );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Alchemy';
    font-weight: 900;
    font-size: 6em;
    text-shadow: 0 0 50px var(--mystic-glow);
}

.hero-section p{
    margin: 10px 0;
    margin-bottom: 30px;
    color: var(--foreground);
    font-family: 'Amarna';
    font-size: 1.5em;
}

.cta-wrapper{
    display: flex;
    width: 60%;
    justify-content: center;
    background-color: var(--purple-medium);
    margin-bottom: 10px;
    transition: 0.3s ease;
    position: relative;
    z-index: 0;
    margin-top: 10px;
}

.cta{
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    background-color: var(--purple-medium);
}

.cta input{
    margin: 10px;
    width: 100%;
    padding: 5px; 
    background-color: transparent;
    color: var(--muted-foreground);
    font-size: 1.2em;
    outline: none;
    border: none;
    caret-color: var(--muted-foreground);
}

.cta input::placeholder{
    color:#584b60;
}

.cta-wrapper:has(input:focus){
    transform: translateY(-10%);
    /* box-shadow: 0 5px 20px 5px var(--purple-light); */
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.cta-wrapper:has(input:focus)::before,
.cta-wrapper:has(input:focus)::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 2px;
    background-image: conic-gradient(from var(--angle) , transparent , var(--mystic-glow) );
}

.cta-wrapper:has(input:focus)::before{
    filter: blur(10px);
    opacity: 0.7;
}

.cta-wrapper::before,
.cta-wrapper::after {
    animation: spin 3s linear infinite;
    opacity: 0;
}

.cta-wrapper:has(input:focus)::before,
.cta-wrapper:has(input:focus)::after {
    opacity: 1;
}

.cta-button{
    background-color: var(--purple-deep);
    cursor: pointer;
    justify-items: center;
    align-items: center;
    width: 7%;
}

.filters{
    margin-top: 20px;
}

.filter-button{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.51);
    color: var(--muted-foreground);
    font-family: 'Amarna';
    font-weight: 700;
    padding: 7px 30px;
    margin-right: 10px;
    font-size: 1.2em;
    transition: 0.3s ease;
    border-radius: 5px;
}

.filter-button:hover{
    transform: translateY(-10%);
    box-shadow: 0 5px 5px rgba(45, 0, 62, 0.5);
    color: var(--foreground)
}